h2 { width: 700px; }

table {
    margin: 16px auto;
}

/* These were previously used in place of the hr margin rule */
/* th { padding: 0px 0px 16px 0px; } */
/* td { padding: 0px 0px 8px 0px; } */

.left { text-align: left; }
.center { text-align: center; }

/* This rule is derived from the .map rule */
.right {
    float: right;
    width: 250px;
    text-align: center;
}

div.container.center {
    margin: 16px auto;
}

div.container.center h3 {
    margin: 16px auto;
}
