{% extends 'vehicle_selection.html' %}
{% load intcomma from humanize %}

{% block head %}
  {{ block.super }}

  <link href='{{ STATIC_URL }}style/deal_detail.css' rel='stylesheet' />
  <link href='{{ STATIC_URL }}style/deal_entered.css' rel='stylesheet' />
  <script src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
  <script src='{{ STATIC_URL }}script/util.js'></script>
  <script src='{{ STATIC_URL }}script/deal_detail.js'></script>
  <script>
    var place = {{ place_json|safe }};
  </script>
{% endblock head %}

{% block content %}

  <h2>Deal Entered!</h2>

  {{ block.super }}

  <h3>Your Dealer</h3>

  <div class='container'>
    <div class='item'>
      {# This div needs an end tag in order for rest of page to render? #}
      <div id='{{ dealer.id }}' class='map'></div>
      <div>{{ dealer.name }}</div>
      <div>{{ dealer.vicinity }}</div>
    </div>
  </div>

  <h3>Deal Details</h3>

  <div class='container'>
    <table>
      <tr><th>Trim</th><td>{{ deal.trim.name }}</td></tr>
      <tr><th>Price</th><td>${{ deal.price|intcomma }}</td></tr>
      <tr><th>Date</th><td>{{ deal.date }}</td></tr>
      <tr>
        <th>Comment</th>
        <td>
          {% if deal.comment %}
            {{ deal.comment }}
          {% else %}
            <i>None</i>
          {% endif %}
        </td>
      </tr>
      <tr><th>Email</th><td>{{ deal.user_ip.user.email }}</td></tr>
    </table>
  </div>

{% endblock content %}
